<html>
	<head>
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
		<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="css/application.css">
		<script src="js/application.js"></script>
		<title>Bitly | URL Shortener and Links</title>
	</head>
	<body>
		<%= yield %>
	</body>
</html>
